
$("<p>Hello from jQuery!</p>").appendTo('body')

	

Remove an option :
$("#selectBox option[value='option1']").remove();
Add an option
$("#selectBox").append('<option value="option5">option5</option>');

