body {
	background-color: rgb(135, 245, 255);
	color: #111;
	margin:0;
	padding: 0;
	font: 0.75em/1.3 "Lucida Grande", "Lucida Sans Unicode",
	"Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 11px;
}

label, input, li, ul, textarea {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

form .add-form {
	background-color: rgb(244,252,232);
	width:550px;
	padding: 1em;
	border-radius: 10px;
}

fieldset {
	background-color: rgba(126,208,214,0.3);
	border: 3px solid rgb(255,255,255);
	border-radius: 10px;
	margin: 0 0 1em 0;
}

fieldset:hover {
	background-color: rgba(126,208,214,0.5);
}

legend {
	font-size: 150%;
}



form p.help {
	font-style: italic;
	padding: 0 1em 0 1em;
}

form p.help em {
	color: red;
}

form label {
	float: left;
	width: 20%;
	font-size: 120%;
}

form div.target {
	padding-top: 1em;
}

form div.regestry{
	margin:0 70px 0 70px;
}

form div.non-block input {
	width: 75%;
	font-size: 133%;
	border: 0;
	border-radius: 10px;
	padding: 0.25em;
}

.tweekers {
	margin:1em 0 1em 50px;
}

.group {
	display:block; width:100%
}

form ul.block {
	clear:both;
	margin-left:20%;
}

form ul.block label {
	float: none;
	font-size: 120%;
}

form ul.block input {
	font-size: 133%;
	border: 0;
	border-radius: 10px;
}

form ul.block li, ul.area li {
	float:left;
	list-style:none;
	margin-right:1em;
}

ul.area li {
	width: 40%;
	margin:1em 0 0 2em;
}

ul.area li label {
	width: 100px;
	text-align:right;
	margin-right:0.5em;
	margin-top:0.25em;
}

form ul.area li input {
	width:40%;
	font-size: 133%;
	border: 0;
	border-radius: 10px;
	padding: 0.25em;
	text-align:center;
	margin-bottom:0.5em;
}

form div.selects {
	clear:both;
	list-style:none;
	margin:0 20px 0 20px;
}

form div.selects li {
	float:left;
	display:block;
	margin-right:1em;
}

form textarea {
	width: 75%;
	border: 0;
	border-radius: 10px;
	font-size: 133%;
	padding: 0.25em;
}

select {
	background-color: rgb(244,252,232);
	border-radius: 10px;
	padding:0.25em;
	width:8em;
	margin-top:7px;
	border: 0;
}

select input:focus {
	background-color: rgba(126,208,214,0.5);
	border-radius: 10px;
}

input, textarea, select {
	outline: solid transparent;
}

div.submit {
	float: none;
	background-color: rgba(126,208,214,0.3);
	border: 3px solid rgb(255,255,255);
	border-radius: 10px;
	margin: 0 auto 1em auto;
	padding: 0.5em 0 0.5em 0;
	text-align: center;
}

form input[type="submit"],form input[type="reset"]  {
	width: auto;
	border: 3px solid rgb(126,208,214);
	background-color: rgba(78,150,137,0.5);
	color: rgb(255,255,255);
	padding: 0.5em;
	border-radius: 10px;
	font-size: 133%;
}

form input[type="submit"]:hover , form input[type="reset"]:hover {
	background-color: rgb(78,150,137);
}

.area span {
	font-size: 133%;
	margin-left:0.5em;
}




/* layout */

.wrapper {
	width: 730px;
	margin: 0 auto 0 auto;
	background-color: rgb(244,252,232);
	padding:1em;
	border-radius: 10px;
}

.aside {
float: left;
}

.main {
	margin-left:155px;
	min-height:600px;
}


/* left menu */
.aside {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
	font-size: 133%;
}
.aside li {
	border-left: 10px solid rgb(126,208,214);
	border-bottom: 1px solid rgb(144,154,181);
	border-radius: 10px;
	margin:0 0 2px 0; 
}

.aside li:first-of-type {
	margin-top:10px;
}

.aside li a:link,
.aside li a:visited {
	background-color: rgba(126,208,214,0.3);
	color: rgb(49,52,61);
	padding: 0.5em;
	display: block;
	text-decoration: none;
	border-left: 5px solid rgb(239,213,252);
	border-radius: 0 10px 10px 0;
}

.aside li a:hover {
	background-color: rgba(126,208,214,0.8);
	color: rgb(255,255,255);
	border-left: 5px solid rgb(250,136,234);
}

form div.field_with_errors input, form div.field_with_errors textarea {
	background-color: rgba(255, 0, 0, 0.2);
	border-radius: 10px;
}


/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
}



